.jtext {
    text-align: justify;
    text-justify: auto;
    color: #393B3B;
}

.vdesc {
    text-align: justify;
    text-justify: auto;
    color: #393B3B;
    font-size: 14px;
}

#MainMenu {
    visibility: hidden;
}

#roli-map-generator{
    text-align: center;
}

footer{
    visibility: hidden;
}

div .streamlit-expanderHeader p{
    text-size-adjust: 100%;
    font-size: calc(0.875rem + .15vw);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: rgb(76, 76, 82);
    line-height: 1.1;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 0%;
}

div .stNumberInput p, div .stSelectbox p{
    font-weight: bold;
}


button.css-8vredb.edgvbvh10{
    border-width: 1.5px;
    border-color: #393B3B;
}

button.css-8vredb.edgvbvh10 p{
    font-weight: 600;
}

div .css-gr0aio p{
    text-size-adjust: 100%;
    font-size: calc(0.875rem + .15vw);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: rgb(76, 76, 82);
    line-height: 1.1;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 0%;
}